{% extends "layouts/index.html" %}
{% block body %}

<div class="body" style="margin-top: 2cm;">
    {% include "message.html" %}
    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <h3 class="mb-4">Register Form</h3>
                <hr style="color: rgba(0, 0, 0, 0.61);">
                <form method="post" style="font-size: 20px;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username" class='form-label'>Username:</label>
                        {{ form.username }}
                        {% for error in form.username.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div><br>
                    <div class="form-group">
                        <label for="id_email" class='form-label'>Email address:</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div><br>
                    <div class="form-group">
                        <label for="id_password1" class='form-label'>Password:</label>
                        <div class="input-group">
                            {{ form.password1 }}
                            <div class="input-group-append">
                                <span class="input-group-text password-toggle" style="font-size: 24px;">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        {% for error in form.password1.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div><br>
                    <div class="form-group">
                        <label for="id_password2" class='form-label'>Password confirmation:</label>
                        <div class="input-group">
                            {{ form.password2 }}
                            <div class="input-group-append">
                                <span class="input-group-text password-toggle" style="font-size: 24px;">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        {% for error in form.password2.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div><br>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
                <br>
                <p>Already User? <a href="{% url 'login' %}">Login Now</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('.password-toggle').click(function() {
            var input = $(this).parent().prev('input');
            var type = input.attr('type') === 'password' ? 'text' : 'password';
            input.attr('type', type);
            $(this).find('i').toggleClass('fa-eye fa-eye-slash');
        });
    });
</script>

{% endblock body %}
