<div class="card text-center bg-dark" style="color: white;">
    <div class="card-header">
      Welcome to Shopsy
    </div>
    <div class="card-body">
      <h5 class="card-title con">Shopsy</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
    .con {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size: 30PX;
}
  </style>