<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand shopsy" href="#" color="white">Shopsy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href='{% url "home" %}'><i class="fa fa-home"></i> Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href='{% url "orders" %}'><i class="fas fa-user-alt"></i> {{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "collections" %}'><i class="fas fa-layer-group"></i> Collections</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "logout" %}'><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                    
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href='{% url "collections" %}'><i class="fas fa-layer-group"></i> Collections</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href='{% url "register" %}'><i class="fas fa-user-plus"></i> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "login" %}'><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                {% endif %}
                
                
                
            </ul>
            <form class="d-flex" action="{% url 'search_view' %}" method="GET">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="q" placeholder="Search" id="search-inp" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" id="search">Search</button>
            </form>
            
            
        </div>
    </div>
  </nav>
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<style>

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Custom CSS for navbar */
.navbar-brand {
  font-size: 1.5rem; /* Increase font size */
  font-weight: bold; /* Make it bold */
 /* Chan
 ge color */
}
.nav-link:hover{
    color: white;
}

.shopsy {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size: 30PX;
}

</style>

    